body {

}

#device {
    border: 20px solid grey;
    background-color: grey;  
    margin: 10px;
    height: 500px;   
}

#display {
    background-color: lightgray;

    margin: 10px 10px 0 10px;
    padding: 30px 10px 50px 10px;
}

#screen {
    width: 98%;
    height: 30px;
    font-size: 1.25em;
}

#numpad {
    background-color: lightgray;

    margin: 150px 10px 0 10px;
    padding: 100px 10px 100px 10px;
}   

.button {
    background-color: white; /* Green */
    border: none;
    color: black;
    padding: 17px;
    margin: 4px 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
  }

.button1 {border-radius: 12px; padding: 17px 19px 17px 19px;}
.button2 {border-radius: 12px;}
.button3 {border-radius: 12px;}
.button4 {border-radius: 12px;}
.button5 {border-radius: 12px;}
.button6 {border-radius: 12px;}
.button7 {border-radius: 12px;}
.button8 {border-radius: 12px;}
.button9 {border-radius: 12px;}
.button0 {border-radius: 12px;}

#basicFunction {
    background-color: black;
    padding: 2px;
}