body {}

#wrapper {
    text-align: center;
}

#device {
    display: inline-block;
    border: 20px solid grey;
    border-radius: 20px;
    background-color: grey;
    
    margin: 10px;
    height: 500px;
    width: 300px;
}

#display {
    background-color: lightgray;
    margin: 10px 5px 0 5px;
    padding: 30px 10px 80px 10px;
}

#screen {
    width: 98%;
    height: 30px;
    font-size: 1.25em;
}

#functions {
    background-color: pink;
    margin: 10px 5px 10px 5px;
    padding: 30px 10px 120px 10px;
}

.button {
    background-color: white;
    /* Green */
    border: none;
    color: black;
    padding: 15px;
    margin: 4px 2px;
    font-size: 16px;
}

/*  NUMPAD BUTTONS  */
#numpad {
    background-color: rgb(203, 122, 122);
    padding: 10px 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    float: left;
}
.button1, .button2, .button3, .button4, .button5,
.button6, .button7, .button8, .button9, .buttonComma {
    border-radius: 12px;
    padding: 5px 20px;
}
.button0 {
    border-radius: 12px;
    padding: 5px 25px;
    grid-column: 1/3;
    grid-row: 4;
}

/*  BASIC FUNCTIONS  */
#basicFunctions {
    background-color: black;
    padding: 10px 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.optButton {
    border: none;
    border-radius: 12px;
    width: 40px;
    height: 28px;
    padding: 7px 10px;
    margin: 4px 4px;
}